# Ignore everything
*

# Don't ignore directories
!*/

# Specifically ignore
.idea/
target/

# Add what we need
!.gitignore
!.mvn/
!.dockerignore
!Dockerfile
!README.md
!docker-compose.yml
!mvnw
!mvnw.cmd
!plans/**
!pom.xml
!src/**