# Ignore everything
*

# Dont ignore directories
!*/

#Ignore
.idea/

# Add what we need
!.gitignore
!.mvn/
!.dockerignore
!Dockerfile
!README.md
!docker-compose.yml
!mvnw
!mvnw.cmd
!plans/**
!pom.xml
!src/**