# Ignore everything
*

# Don't ignore directories
!*/

# Specifically ignore
.idea/
target/

# Add what we need
!.gitignore
!.mvn/**
!.containerignore
!Containerfile
!README.md
!podman-compose.yml
!mvnw
!mvnw.cmd
!plans/**
!pom.xml
!src/**